<div class="container">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input name="name" matInput placeholder="Ex. Juan" value="" />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input name="lastName" matInput placeholder="Ex. Smith" value="" />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
                name="email"
                matInput
                placeholder="Ex. user@email.com"
                value=""
            />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
                name="email"
                matInput
                placeholder="Ex. user@email.com"
                value=""
            />
        </mat-form-field>
    </form>
</div>
